DEBUG=True
SECRET_KEY=clave_segura
DATABASE_URL=postgresql://postgres:1234@localhost:5432/cupido
ALLOWED_HOSTS=localhost,127.0.0.1
REDIS_URL=redis://localhost:6379/0
EMAIL_HOST_USER=cupido.smtp@gmail.com
EMAIL_HOST_PASSWORD=tu_clave_app
EMAIL_HOST=smtp.gmail.com